html{
    width: 100vw;
    overflow-x: hidden;
}

body{
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    color:#202224;
    background-color: #FDFDFF;
}

.header {
    background-color: #546A7B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.header-brand {
    font-family: 'Titillium Web', sans-serif;
    margin-left: 40px;
    font-size: 2em;
    font-weight: 700;
}

.navbar{
    margin-right: 25px;
}

.navbar li{
    display: inline-flex;
    flex-direction: row;
    margin-left: 40px;
    font-size: 1.2em;
}

.navbar li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #202224;
}

.navbar li a:hover{
    border-bottom: 2px solid #468c9e;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.banner-content{
    width: 50%;
    text-align:left;
    margin-left: 2%;
}

.banner-main-title{
    font-size: 1.5em;
    font-weight: 700;
    color: #62929E;
    margin-bottom: 8px;
}

.banner-main-title::first-letter{
    font-size: 2em;
}

.banner-second-title{
    font-size: 1.2em;
    font-weight: 500;
    color: #C6C5B9;
}

.banner-p-content{
    font-size: 0.9em;
    font-weight: 300;
    width: 75%;
    margin-top: 20px;
}

.freepik-link{
    font-size: 0.7em;
    font-weight: 300;
    width: 75%;
    margin-top: 15px;
}


.freepik-link a{
    text-decoration: none;
    color: #62929E;
}

.freepik-link a:hover{
    text-decoration: underline;
}

.content-btn {
    margin:  25px 0px;
    padding: 8px 10px;
    font-size: 0.9em;
    font-weight: 500;
    border: 2px solid #546A7B;
    background-color: #FFFFFF;
    transition: 600ms;
}

.content-btn:hover{
    cursor: pointer;
    background-color:#546A7B;
    color: #FFFFFF;
}

.image {
    width: 70%;
}

.banner .image img {
    width: 100%;
}

.valores{
    background-color: #62929E;
}

.valores-title{
    text-align: center;
    font-size: 1.7em;
    font-weight: 700;
    padding: 45px 0px 15px 0px;
}

.valores-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.valores-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e4e3d6;
    border-radius: 15px;
    width: 25%;
    margin: 25px 0px;
    padding: 45px 0px;
}

.valores-items:hover {
    box-shadow: 5px 5px 10px 5px rgba(57, 61, 63, 0.384)
}

.valores-items-imgs{
    width: 30%;
    border-radius: 100%;
    margin-bottom: 25px;
}

.valores-items-imgs img{
    width: 100%;
}

.valores-items-content{
    width: 70%;
    font-size: 0.9em;
}


.flaticon-link{
    font-size: 0.8em;
    font-weight: 300;
    width: 75%;
    padding: 10px 25px;
}


.flaticon-link a{
    text-decoration: none;
    color: #22444d;
}

.flaticon-link a:hover{
    text-decoration: underline;
}

.sobre{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto;
}

.sobre-title {
    font-size: 2em;
    font-weight: 700;
    color: #62929E;
    margin-bottom: 8px;
}

.sobre-content{
    display:flex;
    align-items: center;
}

.sobre-img{
    width: 50%;
}

.sobre-text{
    width: 45%;
    font-size: 0.9em;
    letter-spacing: 1.8px;
    line-height: 35px;
    padding-top: 30px;
    text-align: justify;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #62929E;
    padding: 55px 0px 30px 0px;
}

.contato-title{
    padding: 15px auto;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 25px;
}

.form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-form, .text-area {
    width: 65%;
    text-align: center;
    font-size: 1.1em;
    margin: 10px auto;
    border: 2px solid #62929E;
    border-radius: 25px;
    padding: 5px 5px;
}

.text-area{
    width: 63% !important;
    text-align: justify !important;
    padding: 10px;
    margin:  10px auto !important;
}

.input-form:focus, .text-area:focus{
    outline: none !important;
    border-color: #6eb4c5;
    border-radius: 25px;
    box-shadow: 0 0 10px #8ab4e0bd;
}

.submit-btn {
    width: 30%;
    margin:  10px auto;
    padding: 5px 5px;
    font-size: 1em;
    font-weight: 600;
    border: 2px solid #3f4f5c;
    background-color: #546A7B;
    color:  #202224;
    transition: 600ms;
}

.submit-btn:hover{
    cursor: pointer;
    background-color:#546A7B;
    color: #FFFFFF;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #546A7B;
}

.footer-brand{
    width: 30%;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 40px;
    font-size: 1.3em;
    font-weight: 700;
}

.redes-sociais{
    display: flex;
    width: 20%;
    margin-left: 20%;
}

.redes-sociais a{
    margin: 15px 10px;
    width: 15%;
}

.redes-sociais a img {
    width: 90%;
}

@media (max-width: 768px){
    body{
        width: 100%;
        font-size: 1.2em;
    }

    .header{
        flex-direction: column;
    }

    .header-brand{
        margin: 10px auto;
        font-size: 3em;
        margin-bottom: 15px;
    }

    .navbar{
        justify-content: space-around;
        align-content: center;
        margin: 10px 0px;
        padding: 0;
        text-align: center;
        width: 90%;
    }

    .navbar li{
        margin: 10px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 1.8em;
        border-bottom: 2px solid #202224;
    }

    .banner {
        display: flex;
        flex-direction: column;
    }
    
    .banner-content{
        display:flex;
        flex-direction: column;
        width: 100%;
        text-align: justify;
        order: 4;
    }
    
    .banner-main-title{
        width: 100%;
        font-size: 1.8em;
        text-align: center;
    }
    
    .banner-second-title{
        width: 100%;
        font-size: 1.6em;
        text-align: center;
    }
    
    .banner-p-content{
        width: 90%;
        font-size: 1.3em;
        font-weight: 400;
        margin: 20px auto;
    }
    
    .freepik-link{
        width: 100%;
        font-size: 1.1em;
        font-weight: 400;
        text-align: center;
    }
 
    .content-btn {
        width: 50%;
        align-self: center;
        justify-self: center;
        font-size: 1.4em;
        text-align: center;
    }
    
    .image {
        width: 90%;
        order: 1;
    }

    /* Valores */

    .valores-title{
        text-align: center;
        font-size: 2.5em;
    }
    
    .valores-list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .valores-items{
        width: 70%;
    }
 
    .valores-items-imgs{
        width:40%;
    }
    
    .valores-items-imgs img{
        width: 100%;
    }
    
    .valores-items-content{
        width: 90%;
        font-size: 1.5em;
    }
    
    
    .flaticon-link{
        font-size: 1.3em;
        font-weight: 400;
        width: 93%;
        text-align: center;
        margin: 0;
    }
    
    
    .flaticon-link a{
        margin: 0;
    }

    /* Sobre */

    .sobre-title {
        font-size: 2.5em;
    }
    
    .sobre-content{
        flex-direction: column;
    }
    
    .sobre-img{
        width: 90%;
    }
    
    .sobre-text{
        width: 90%;
        font-size: 1.1em;
        letter-spacing: 1.5px;
        font-weight: 400;
    }
    
    /* Contato */

    .contato-title{
        font-size: 2.5em;
    }
    
    .form {
        width: 90%;
    }
    
    .input-form, .text-area {
        width: 85%;
        text-align: center;
        font-size: 1.4em;
    }
    
    .text-area{
        width: 83% !important;
    }
      
    .submit-btn {
        width: 50%;
        font-size: 1.4em;
        font-weight: 600;
    }

    /* Footer */

    .footer{
        flex-direction: column;
    }
    
    .footer-brand{
        text-align: center;
        width: 90%;
        font-size: 2.3em;
        margin: 15px 0px;
    }
    
    .footer-text{
        font-size: 1.5em;
    }
    
    .redes-sociais{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 15px auto;
    }
    
    .redes-sociais a{
        margin: 15px 10px;
        width: 15%;
    }
    
}

@media (max-width: 420px){
    body{
        font-size: 1em;
        text-align:center;
    }

    .header-brand{
        font-size: 2.3em;
    }

    .banner-main-title{
        font-size: 1.5em;

    }
    
    .banner-second-title{
        font-size: 1.4em;
    }

    .sobre-text{
        width: 85%;
    }

    .footer-text{
        font-size: 1.3em;
    }
}